.grid {
    background-color: indianred;
    height: 600px;
    width: 600px;
    display: grid;
    grid-auto-rows: minmax(30px, auto);
    gap: 2px;
    padding: 2px 2px;
}


span {
    display: inline-flex;
    background-color: powderblue;
    justify-content: center;
    align-items: center;
}