
/* asi */
.grid {
    height: max-content;
    width: 100%;
    background-color: powderblue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(30px, auto);;
    gap: auto;
}